.welcome-container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  background-color: #f5f5f5;
}

.header {
  background-color: #3f51b5;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

.navbar {
  background-color: #3f51b5;
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home-btn, .teacher-btn, .student-btn, .logout-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.home-btn, .teacher-btn, .student-btn {
  background-color: #ffffff;
  color: black;
}

.home-btn:hover, .teacher-btn:hover, .student-btn:hover {
  background-color: #f1f1f1;
}

.logout-btn {
  background-color: #EC407A   ;
  color: white;
}

.logout-btn:hover {
  background-color: #D81B60 ;
}
